# Ignore massive datasets and tensors
RFIDDataSet/
datasets/
DataSet3m/
SaveAsTensors/

# Large data and model files
*.pt
*.npy
*.pth
*.pdf

# Ignore outputs and results logs
results*/
*.txt
!requirements.txt
training_output.txt

# Python cache and environments
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env/
